    <!-- FOOTER -->
    <footer class="py-7 py-md-9 bg-black">
		<div class="container px-4">
		  <div class="row gx-7">
			<div class="col-sm-4">
	  
				<!-- Heading -->
				<h5 class="text-xs text-primary">
					Socials
				</h5>

				<!-- List -->
				<ul class="list-unstyled mb-6">
					<li class="d-flex mb-2">
						<div class="fab fa-instagram me-3 mt-2 fs-sm"></div>
						<a href="https://instagram.com/wairarapasky">Find us on Instagram</a>
					</li>
					<li class="d-flex">
						<div class="fa fa-globe me-3 mt-2 fs-sm"></div>
						<a href="/spacle">Play Spacle</a>
					</li>
				</ul>

				<!-- Heading -->
				<h5 class="text-xs text-primary">
					Contact info
				</h5>
		
				<!-- List -->
				<ul class="list-unstyled mb-6">
				<li class="d-flex mb-2">
					<div class="fas fa-map-marker-alt me-3 mt-2 fs-sm"></div>
					Wairarapa, New Zealand
				</li>
				<li class="d-flex mb-2">
					<div class="far fa-envelope me-3 mt-2 fs-sm"></div>
					<a href="mailto:kiaora@wairarapasky.com">kiaora@wairarapasky.com</a>
				</li>
				<li class="d-flex">
					<div class="fas fa-comments me-3 mt-2 fs-sm"></div>
					<a href="/contact-us/">Contact Us</a>
				</li>
				</ul>	  
			</div>
			
			<div class="col-sm-4">

				<h5 class="text-xs text-primary mb-3">
					We are <strong>Wairarapa Sky</strong>
				</h5>

			</div>
		  </div>
		  <div class="row">
			<div class="col-12">
	  
			  <!-- Copyright -->
			  <div class="d-flex">
				  &copy; {{ 'now' | date: "%Y" }} Wairarapa Sky. All rights reserved.
			  </div>
	  
			</div>
		  </div>
		</div>
	  </footer>
	  
	  <!-- TOAST -->
	  <div class="toast position-fixed bottom-0 start-50 translate-middle-x mb-3 mb-md-5" id="notification" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="d-flex">
		  <div class="toast-body mx-auto"></div>
		</div>
	  </div>